<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.simple.mapper.ScoreMapper">
	
	<insert id="scoreRegist">
		insert into score(name, kor, eng, math) 
		values(#{name}, #{kor}, #{eng}, #{math})
	</insert>
	 <select id="getList" resultType="ScoreVo">
	 	select *from score order by sno desc
	 </select>
	 <delete id ="scoreDelete">
	 delete from score where sno =#{num}
	 </delete>
	 
	 
</mapper>  